.w {
  width: 1190px;
  margin: auto;
}
/* 左浮动 */
.fl {
  float: left;
}
/* 右浮动 */
.fr {
  float: right;
}
/* 导航栏样式 */
.hui {
  height: 30px;
  background-color: #e3e4e5;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}
/* 下拉菜单 */
.droplist {
  margin-top: 0px;
  background-color: #e3e4e5;
  display: none;
  position: absolute;
  top: 30px;
  left: 5px;
}
.diqu:hover .droplist {
  display: block;
}
.hui .droplist a {
  margin-left: 5px;
}
.hui .btli {
  width: 60px;
}
.hui li {
  float: left;
}
.hui i {
  font-family: icomoon;
  font-style: normal;
  color: #ccc;
}
.diqu {
  margin-left: 200px;
  margin-bottom: 0px;
  line-height: 30px;
  width: 60px;
  text-align: center;
  position: relative;
}
/* 竖线 */
.space {
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 10px 12px 0;
}
.mobile {
  position: relative;
  margin-right: 11px;
}
.mobile img {
  position: absolute;
  left: -10px;
  top: 22px;
  border: 1px solid #ccc;
  padding: 3px;
}
.red {
  color: red !important;
}
.green {
  color: green;
}
.green:hover {
  color: green;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
}
a:hover {
  color: rgb(255, 128, 0);
}
ul,
h1,
p,
input,
button {
  margin: 0;
  padding: 0;
}
input {
  border: 0;
  outline: none;
  border-radius: 50px 0 0 50px;
}
button {
  border: 0;
  outline: none;
  border-radius: 0 50px 50px 0;
}
ul {
  list-style: none;
}
/* 申明字体 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?poq1sa");
  src: url("../fonts/icomoon.eot?poq1sa#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?poq1sa") format("truetype"),
    url("../fonts/icomoon.woff?poq1sa") format("woff"),
    url("../fonts/icomoon.svg?poq1sa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
header {
  height: 80px;
  background-color: rgb(0, 0, 0);
}
body {
  background-color: rgb(252, 252, 246);
}
/* 中间部分 */
.middle {
  height: 140px;
  position: relative;
}
.logo {
  position: absolute;
  top: -30px;
  left: 0;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);
}
.logo a {
  display: block;
  height: 170px;
  width: 190px;
  background: url(../images/logo.png) no-repeat;
  background-color: white;
}
/* 搜索框 */
.form {
  width: 550px;
  height: 60px;
  position: absolute;
  top: 25px;
  left: 320px;
}
.form input {
  width: 473px;
  height: 58px;
  border: 1px solid rgb(37, 255, 251);
  float: left;
  font-size: 14px;
  padding-left: 25px;
}
.form button {
  width: 49px;
  height: 60px;
  border: 1px solid rgb(37, 255, 251);
  border-left: 0px;
  float: left;
  background-color: white;
}
.form button i {
  font-family: icomoon;
  font-style: normal;
  color: rgb(37, 255, 251);
}
/* 交易 */
.trade {
  width: 100px;
  height: 60px;
  border: 1px solid rgb(37, 255, 251);
  position: absolute;
  top: 23px;
  right: 145px;
  font-size: 56px;
}
.trade button {
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: rgb(0, 0, 0);
}
.trade button i {
  font-family: icomoon;
  font-style: normal;
  color: rgb(255, 255, 255);
}
/* 关键词 */
.hotworlds {
  position: absolute;
  top: 85px;
  left: 345px;
}
/* 小导航 */
.navitems {
  width: 845px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 200px;
}
.navitems li {
  float: left;
  margin-left: 30px;
}
.navitems li a {
  font-size: 16px;
  font-weight: 700;
  color: #555;
}
.navitems li a:hover {
  color: red;
}
.navitems .space {
  margin-left: 15px;
  margin-right: -15px;
}
/* 页面底部 */
footer {
  margin-top: 35px;
  height: 500px;
  background-color: rgb(68, 68, 68);
}
.service {
  padding: 30px 0;
  border-bottom: 1px solid rgb(170, 170, 170);
  overflow: hidden;
}
.service ul li {
  width: 396px;
  height: 43px;
  position: relative;
  line-height: 43px;
  float: left;
}
.service li h5 {
  position: absolute;
  top: -23px;
  left: 154px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: url(../images/tu1.png);
  text-indent: -9999px;
}
.service ul li p {
  font-weight: 700;
  color: rgb(255, 255, 0);
  margin-left: 202px;
}
.we {
  height: 200px;
  border-bottom: 1px solid rgb(170, 170, 170);
  padding-top: 25px;
  box-sizing: border-box;
}
.we dl {
  width: 150px;
  float: left;
  margin-left: 190px;
}
.we dt {
  height: 30px;
  margin: auto;
  font-size: 14px;
  color: white;
}
.we dd {
  height: 22px;
  margin: auto;
}
/* 底部版权 */
.copyright {
  padding-top: 20px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.copyright div {
  margin-top: 20px;
}
.copyright a {
  color: #666;
}
.copyright a:hover {
  color: rgb(255, 128, 0);
}
.copyright p {
  line-height: 22px;
}
